body {
    margin: 0;
    font-family: Monument, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #060809;
    /* background-color: #F8D7DD; //ROSA */
    /* background-color: rgb(232, 0, 28); //ROJO DE PIZZAPIZA */
    background-color: #DBE3EA;
}

@font-face {
    font-family: "Monument";
    font-display: block;
    src: url("font/MonumentRegular.woff") format("woff2"),
        url("font/MonumentRegular.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "GT";
    font-display: block;
    src: url("font/GTRegular.woff2") format("woff2"),
        url("font/GTRegular.woff2") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Sui";
    font-display: block;
    src: url("font/SuisseIntlLight.woff") format("woff2"),
        url("font/SuisseIntlLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Sui";
    font-display: block;
    src: url("font/SuisseIntlRegular.woff2") format("woff2"),
        url("font/SuisseIntlRegular.woff2") format("woff");
    font-weight: 300;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5em 0;
    font-weight: 300;
    line-height: 1.2;
}

h1 {
    font-size: 2em;
}

a {
    color: inherit;
}

code {
    font-family: menlo, inconsolata, monospace;
    font-size: calc(1em - 2px);
    color: #555;
    background-color: #f0f0f0;
    padding: 0.2em 0.4em;
    border-radius: 2px;
}

@media (min-width: 400px) {
    body {
        font-size: 16px;
    }
}