body {
  margin: 0;
  font-family: Neue, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #060809;
  /* background-color: #F8D7DD; //ROSA */
  background-color: #060809;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1px;
}
#sapper{
    background-color:#ECECEC;
}
/* 
@font-face {
  font-family: "Neue";
  font-display: block;
  src: url("font/Neue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
} */

@font-face {
    font-family: "Neue";
    font-display: block;
    src: url("font/NeueLight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
